
@{
    ViewData["Title"] = "Submitted";
}

<h2 class="text-center text-success mt-3">Thank You!</h2>
<div class="container text-center">
    <div id="details">
        <p class="fs-4">
            Your Order has been submitted Successfully
        </p>
        <img style="width:300px" class="pb-4" src="~/imges/submit.png" alt="">
    </div>

</div>

