@model BookViewModel

@{
    ViewData["Title"] = "Edit";
}




<section class="bg-light rounded-3 m-5">

    <form class="p-4" action="/Book/Edit/@Model.Id" method="post" enctype="multipart/form-data">
        <h4 class="p-2"> <i class="fa-solid fa-pen-to-square"></i> Edit Book</h4>

        <partial name="PartialViews/CreateEditPartialView" />

        <div class="form-group p-1">
            <button type="submit" class="btn btn-primary"> Edit </button>
            <a asp-action="Index" asp-controller="Book" class="btn  ">Back to list</a>

        </div>
    </form>
</section>


