@model Author
@{
    ViewData["Title"] = "Create";
}

<h2>Create New Author</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
</form>
