<section class="rounded-3 m-5">
    <div class="d-flex align-items-center justify-content-lg-around bg-light rounded-3 m-5">
        <div class="card-body position-relative text-black">
            <h4 class="card-title">@Model.Name</h4>          
            <h5 class="card-text text-info">Books by @Model.Name:</h5>
            <ul>
                @foreach (var book in Model.Books)
                {
                    <li>@book.Title</li>
                }
            </ul>

            @if (User.IsInRole("admin") || User.IsInRole("author"))
            {
                <a class="btn m-1" href="/Author/Edit?id=@Model.Id"><i class="fa-solid fa-pen"></i> Edit</a>
                <a class="btn m-1" href="/Author/Delete?id=@Model.Id"><i class="fa-solid text-danger fa-trash"></i> Delete</a>
            }
        </div>
    </div>
    <a href="@Url.Action("Index")" class="btn btn-secondary m-5">Back to List</a>
</section>
