@model Day2.ViewModels.RegisterUserViewModel

@{

    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<partial name="NavPartialView" />

<div class=" col-6 d-flex  justify-content-center align-items-center  ">
    <div class=" w-50  d-flex">
        <img src="~/imges/6368592.jpg" class="img-fluid rounded-circle " alt="Alternate Text" />

    </div>
</div>

<div class=" col-6  p-2 ">
    <div class="">
        <h1> Register  </h1>
        <form asp-action="Register">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group ">
                <label asp-for="Username" class="control-label">Name</label>
                <input placeholder="Enter User Name" asp-for="Username" class="form-control Maincolor" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="UserEmail" class="control-label">Email</label>
                <input placeholder="Enter  Email" asp-for="UserEmail" class="form-control Maincolor" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="Password" class="control-label">Password</label>
                <input placeholder="Password" asp-for="Password" class="form-control Maincolor" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group  ">
                <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                <input placeholder="Confirm Password" asp-for="ConfirmPassword" class="form-control Maincolor" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="Address" class="control-label"></label>
                <input placeholder="Address" asp-for="Address" class="form-control Maincolor" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group p-1">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
        <div class="d-flex justify-content-between  ">
            <a asp-action="Login" asp-controller="account" class="text-decoration-none">Already have Account? Login &gt;&gt;</a>
            <a asp-controller="Book" asp-action="Index" class="text-decoration-none">    Home  <i class="fa-regular fa-hand-point-right"></i></a>

        </div>

    </div>
</div>
   




