

<nav class="navbar navbar-expand-lg fixed-top text-white bg-light navbar-light ">
    <div class="container-fluid">
        <a class="navbar-brand sofia-regular  ms-4" href="#"> <i class="fa-solid fa-book iconcolor"></i>  BookMart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
             @if (User.Identity.IsAuthenticated)
             {
                <form asp-action="Index"  class="d-flex">
                    <input name="searchTerm" class="form-control Maincolor searshboreder ms-4  " type="search" placeholder="Search Books" aria-label="Search">

                </form>
             }

            <ul class="navbar-nav  ms-auto mb-2 mb-lg-0">
                 @if (User.Identity.IsAuthenticated)
                 {
                    <li class="nav-item pt-1">
                        <a class="nav-link" asp-controller="Account" asp-action="SignOut">Logout</a>
                    </li>

                   
                 }
                 else
                 {
                    <li class="nav-item ms-auto">
                        <a class="nav-link  " asp-controller="Account" asp-action="Register">Sign Up</a>
                    </li>
                    <li class="nav-item ms-auto">
                        <a class="nav-link  " asp-controller="Account" asp-action="Login">Login</a>
                    </li>
                 }

                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item ms-auto text-danger fs-5 pt-1 ms-4">
                        @{
                            var roleClaim = User.FindFirst("role"); // Find the 'role' claim
                            var s = roleClaim != null ? roleClaim.Value : "No role assigned"; // Safely check if the claim exists
                        }
                        <div class="border-2 border-danger p-1 rounded mx-4" style="border:1px solid black;">
                            @(s)
                        </div>
                    </li>
                }

                        

                    </li>
                    <li class="nav-item mx-4 w-25 ">
                        <img class="img-fluid rounded-circle" src="~/imges/profile.jpg" alt="Alternate Text" style="width:40px" />
                    </li>
                }

            </ul>
        </div>
    </div>
</nav>
